/* :root{
    --basic-color:rgba(31, 43, 108, 1);
}
.basic-color-bg{
    background-color: var(--basic-color);
}
.top-30{
    top:10%;
}
h2{
    color:var(--basic-color)
}
#image:hover .layer {
    position:absolute;
    background-color:rgba(31, 43, 108, 0.7) ;
    background-image: url(images/icon.png);
    background-position: center;
    background-repeat: no-repeat;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}
 .header{
    background-image:url("images/Frame 2.png"), url("images/headerImage.png");
    height: 250px;
    background-size: cover;
    background-position: center;
    position: relative;
     background-repeat: no-repeat;
}
.header::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
   bottom: 0;
    background-color:#d3d7d370;
    z-index: 1;
}
.header::after{
    content:'';
    background-image: url("images/Group 184.png");
}
.title{
    position: absolute;
    z-index: 2;
}
.title h1 {
    color: #1F2B6C;
    font-size: 48px;
    font-weight: 600;
    margin-top: 15px;

}
.title h4 a{
    color: #1F2B6C; 
}

.icon img {
    padding: 0.75rem;
}

@media (max-width: 768px) {
    .icon img {
        padding: 0.5rem;
        width: 40px;
        height: 40px;
    }
}
 */
